.section1Container {
    align-items: center;
    background: #fff;
    padding: 40px;
}

.section1Container h2 {
    text-align: center;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.section1Container button {
    padding: 10px;
    align-self: center;
    border-radius: 50px;
    background-color: #34495e;
}

.section1card {
    padding: 10px;
    border-radius: 8px;
}

.notification-container {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin-bottom: 5px;
}

.icon-wrapper {
    background: #e8f4ff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.icon {
    color: #007bff;
    font-size: 20px;
}

.text-content h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.text-content p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #666;
}